In [1]:
#Pandas-Bibliothek wird importiert (Standardphrase)
import pandas as pd

In [3]:
#Die Funktion pd.read_excel wird verwendet, um Daten aus der Excel-Datei 'flos_abenteuer_test.xlsx' in ein Pandas DataFrame (df) zu lesen
df = pd.read_excel('flos_abenteuer_test.xlsx')

#Man könnte noch folgende Funktion benutzen, um Leerzeichen zu eliminieren:
#df = df.apply(lambda x: x.str.strip())

#DataFrame anzeigen lassen
df

   Jahr  Zählung           Titel     Auflage    Signatur
0  2005        1     Große Reise         NaN  2010 A 305
1  2007        5  Tal der Tränen  2. Auflage  2010 A 305
2  2011        6       Neuanfang         NaN  2010 A 305

In [4]:
#Wir schreiben eine Funktion mit dem Namen pica_schreiben, diese durchläuft jede Zeile (row) im DataFrame. Daher wird 'row' auch als Parameter festgelegt
def pica_schreiben(row):
    '''Docstring: Mit dieser Funktion legen wir ein Grundmuster für die zu erstellenden Datensätze fest und auch
    die Stellen, an denen Inhalt aus der hinterlegten Excel-Tabelle eingesetzt werden muss'''
    pica = f'''0500 AF
0501 $btxt
0502 $bn
0503 $bnc
0551 X$bm
0600 ra
1100 {row.Jahr}$n[{row.Jahr}]
1500 /1ger
1700 /1XA-DE
2000 Festeinband
2105 94,P01
3000 !132087340!$4aut$Ei$Hdnb$D2024-06-12
4000 {row.Titel} / Klaus Stein
'''
    #besondere Angabe, um mit "Not a name"-Angaben in der Tabelle umzugehen:
    if pd.notna(row.Auflage):
        pica += f"4020 {row.Auflage}\n"
        
    pica += f'''4030 Koblenz : Spaß-Verlag
4060 1 Band (verschieden gezählte Seiten)
4160 !5005117555! ; {row.Zählung}
4700 |FE-L|
7001 x
4800 !009030115!
7100 {row.Signatur}-{row.Zählung}
'''

#Anschließend noch Tabulator und Zeilenumbruch zufügen (Datensatztrenner für die WinIBW)
    pica +="\t\n"
    
#Als return-Wert den Text festlegen
    return pica

In [5]:
#Jetzt kommt die for-Schleife:
for index, row in df.iterrows():
    print(pica_schreiben(row))

0500 AF
0501 $btxt
0502 $bn
0503 $bnc
0551 X$bm
0600 ra
1100 2005$n[2005]
1500 /1ger
1700 /1XA-DE
2000 Festeinband
2105 94,P01
3000 !132087340!$4aut$Ei$Hdnb$D2024-06-12
4000 Große Reise / Klaus Stein
4030 Koblenz : Spaß-Verlag
4060 1 Band (verschieden gezählte Seiten)
4160 !5005117555! ; 1
4700 |FE-L|
7001 x
4800 !009030115!
7100 2010 A 305-1


0500 AF
0501 $btxt
0502 $bn
0503 $bnc
0551 X$bm
0600 ra
1100 2007$n[2007]
1500 /1ger
1700 /1XA-DE
2000 Festeinband
2105 94,P01
3000 !132087340!$4aut$Ei$Hdnb$D2024-06-12
4000 Tal der Tränen / Klaus Stein
4020 2. Auflage
4030 Koblenz : Spaß-Verlag
4060 1 Band (verschieden gezählte Seiten)
4160 !5005117555! ; 5
4700 |FE-L|
7001 x
4800 !009030115!
7100 2010 A 305-5


0500 AF
0501 $btxt
0502 $bn
0503 $bnc
0551 X$bm
0600 ra
1100 2011$n[2011]
1500 /1ger
1700 /1XA-DE
2000 Festeinband
2105 94,P01
3000 !132087340!$4aut$Ei$Hdnb$D2024-06-12
4000 Neuanfang / Klaus Stein
4030 Koblenz : Spaß-Verlag
4060 1 Band (verschieden gezählte Seiten)
4160 !5005117555! ; 6
4700 |FE-L|
7001 x
4800 !009030115!
7100 2010 A 305-6

In [6]:
with open(f"flos_abenteuer.dat", 'w') as f:
    for index, row in df.iterrows():
        f.write(pica_schreiben(row))